package ${packageName};


import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${table.basePackageName}.entity.${table.EntityClassName};

/**
* <p>
*  ${table.comment}spark
* </p>
*
* @author spark
* @since 1.0
*/
public interface ${table.RepositoryClassName} extends BaseMapper<${table.EntityClassName}>{

}

